<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Book App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<header th:fragment="header">
    <h1 th:text="${title}">Treat Your Shelf!</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/userProfile">View Your Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="/register">Register Here</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
        <small th:text="${loginstatus}">
            <em>
                should display if logged in or not logged in
            </em>
        </small>
    </ul>





</header>

</body>
</html>
