<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${updateFormDTO.username}" />
        </label>
        <p class="error" th:errors="${updateFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="${updateFormDTO.communication}" />
        </label>
        <p class="error" th:errors="${updateFormDTO.communication}"></p>
    </div>


    <input type="submit" class="btn btn-primary" value="Update" />
</form>

</body>
</html>